#carouselExampleIndicators {
    width: auto;
    height: 365px;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-item img {
    height: 390px;
    object-fit: contain;
}
.carousel-indicators{
    bottom: 680px;
}

.carousel-indicators li,
.carousel-indicators img {
    width: 100px;
    height: 65px;  
}

.carousel-indicators:hover li,
.carousel-indicators:hover img{
    opacity: 1;
}

.side{
    position: absolute;
    left: 73%;
}

.product-card img{
    height: 173px;
    object-fit: contain;
}
a.btn {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
}
h5.card-title,
p.card-text,
.icon {
    opacity: 1;
    transition: .5s;
}

.card:hover h5.card-title,
.card:hover p.card-text,
.card:hover .icon {
    opacity: 0;
}
.card:hover a.btn {
    top: 80%;
    opacity: 1;
}
.card:hover .card-body {
    background-color: black;
    transition: .5s;
}
footer{
    padding: auto;
    display: block;
    background-color: rgb(8, 106, 235);
}

a{
    color: black;
}

.form{
    text-align: center;
    color: black;
}

.card-body-top{
    margin-left: 15px;
    padding-top: 15px;
    margin-top: 100px;
    padding-bottom: 32px;
}

.sell,
.btn{
    margin: 4px;
    padding: -1px;
    text-align: center;   
}

.card-body-x p{
    margin: revert;
    text-align: center;
}
.last-sale{
    padding-top: 50px;
    padding-left: 10px;
}
