.banner{
    height: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgba(141, 253, 253, 0.85), rgba(172, 244, 253, 0.85)), url(bg.view.jpg) 0 no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-position: center;
}
.center{
    margin: auto;
    width: 15%;
    padding: 1%;
}
h1{
    background-color: rgba(177, 79, 201, 0.37);
    text-align: center;
}
table, th, td {
    border: 2px solid rgb(18, 20, 150);
    border-collapse: collapse;
    margin: auto;

  }
  th{
      text-align: center;
  }